<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h1>Bienvenido/a {{username}}</h1>
        </ion-card-title>
        <ion-card-subtitle>Perfil Usuario</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input label="Nombre" type="text" placeholder="Ingrese nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Apellidos" type="text" placeholder="Ingrese apellidos"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Edad" type="number" placeholder="Ingrese edad"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="text-align: start;">Nivel Educacional</ion-label>
            <ion-select justify="space-between" value="optEduc" interface="action-sheet" placeholder="Seleccione nivel">
              <ion-select-option value="Ninguno">Ninguno</ion-select-option>
              <ion-select-option value="Tecnico">Tecnico</ion-select-option>
              <ion-select-option value="Universitario">Universitario</ion-select-option>
              <ion-select-option value="Magister">Magister</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item >
            <ion-label style="text-align: start;">Fecha Nacimiento</ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime"
                presentation="date"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>