<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pagina de registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Panel de registro</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input
              [(ngModel)]="user.username"
              label="Usuario"
              labelPlacement="floating"
              placeholder="Ingrese su usuario"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              [(ngModel)]="user.email"
              label="Correo"
              labelPlacement="floating"
              placeholder="Ingrese su correo"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              [(ngModel)]="user.password"
              label="Contraseña"
              labelPlacement="floating"
              type="password"
              placeholder="Ingrese su contraseña"
            ></ion-input>
          </ion-item>
          <ion-button (click)="registrar()" fill="outline">
            Registrar
          </ion-button><br>
          <ion-button [routerLink]="['/home']" fill="outline">
            Volver
          </ion-button>
          
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
