ion-content {
    --background: url("../assets/img/background.webp") no-repeat center center/cover;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container ion-card ion-card-header h1 {
    font-size: 26px;
    font-weight: bolder;
}

#container ion-card ion-card-content ion-list ion-item {
    --border-width: 0;
    --border-color: white;

    ion-label {
        text-align: start;
    }
    ion-input{
        text-align: center;
    }
}