#container #carga {
  text-align: center;
  display: block;
  margin: auto;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 15px;
}
#container .login img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}
